*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navheader{
    width: 100vw;
    height: 100vh;
    background: cadetblue;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
nav ul li{
       display: inline-block;
}
a{
    text-decoration: none;
    padding-right: 20px;
}
nav ul li a{
        font-weight: bold;
        color: white;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.navbtn{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.logo::first-letter{
            font-size: 40px;
            border: 2px solid black;
            border-right: transparent;
            color: orange;
}
.navbtn:hover{
    background: white;
    color: orange;
}
.about{
    position: absolute;
    top: 40%;
    left: 12%;
}
.about h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 100px;
}
.about h1 span{
    color: orange;
    font-size: 90px;
}
.about p{
    font-size: 22px;
    width: 70%;
}
.image{
    position: absolute;
    top: 20%;
    left: 68%;
}
.image img{
    border-radius: 80px;
}
.cv{
    font-weight: 800;
    background-color: white;
    border-radius: 10px;
    color: orange;
    padding: 10px;
    line-height: 4;
    left: 12%;
    
}
.aboutme{
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 99, 99);
    padding-top: 150px;
    padding-left: 45%;
    
}
.image2{
    position: absolute;
    top: 122%;
    left: 15%;
}
.image2 img{
    border-radius: 80px;
}
.head{
    color: orange;
    font-weight: 700;
    padding-right: 20px;
    font-size: 70px;                    

}
.p1{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 6;
    line-height: 3;
    
}
.p2{
    font-size: 20px;
    width: 50%;
    padding-right: 10px;
}

.button{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    padding-left: 2%;
    line-height: 3;
}
.main{
    width: 100vw;
    height: 100vh;
    background: cadetblue;
    display: flex;
    justify-content: space-evenly;
}
.main h1{
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: rgb(235, 155, 6);
    margin-top: 6%;
}
.box{
    height: 300px;
    width: 300px;
    background-color: rgb(7, 80, 82);
    margin-top: 15%;
    border-radius: 10%;
    text-align: center;
}
.box img{
    height: 60px;
    width: 60px;
    margin: 15px 0px;
}
.box h3{
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}
.box p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.boxbtn{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.portfolio{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 3, 3)
}
.portfolio1{
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
    color: white;
}
.portfolio2{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    padding-top: 30px;
    color: white;
}
.navbtn2{
    padding-left: 32%;
    padding-top: 5%;
 }
.a{
    border: 3px solid white;
    padding: 12px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.b{
    border: 3px solid white;
    padding: 12px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px;
}
.c{
    border: 3px solid white;
    padding: 12px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px;
}
.d{
    border: 3px solid white;
    padding: 12px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px; 
}
.image3{
    padding-left: 10%;
    padding-top: 1%;
}
div{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form{
    width: 100dvw;
    height: 100vh;
    background-color: rgb(3, 46, 47);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 0 solid;
    width: 33%;
}
.form form input{
    margin: 5px;
    height: 18pt;
    font-size: 1.1rem;
    padding: 5px;
    border: 1px solid white;
}
.form form textarea{
    margin: 5px;
    font-size: 1.1rem;
    padding: 5px;
    border: 1px solid white;
}
.form form button{
    align-self: center;
    padding: 5px 15px;
    background-color: orangered;
    color: white;
    border: 1px solid;
    margin: 5px;
    bottom: 0px;
}
.form form h1{
    text-align: center;
     padding-left: 30%;
     padding: 20px 30px;
     font-size: 40px;
     font-weight: bold;
     background-color: white;
     color: black;
     
}
.form form p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}






